/.github         export-ignore
/vendor          export-ignore
.editorconfig    export-ignore
/.gitignore      export-ignore
/composer.lock   export-ignore
/composer-require-checker.json export-ignore
/phpunit.xml     export-ignore
/phpunit-8.0.xml export-ignore
/pint.json       export-ignore
/psalm.xml       export-ignore
/psalm-8.0.xml   export-ignore
